services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      - MONGO_URL=${MONGO_URL}
      - MONGO_DB=${MONGO_DB}
    depends_on:
      - mongo
    volumes:
      - ./src/backend/static:/app/static:ro

  mongo:
    image: mongo:8.0
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo_data:
